@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

header{
  display: flex;
    position: absolute;
    left: 0;
    background: #313746;
    height: 100%;
    align-items: center;
} 
.navbar {
  padding:0 20px;
} 
.Navigation li a{
  color: #fff;
}